## Collect Data

In [ ]:
!wget -q --no-check-certificate https://www.crcv.ucf.edu/data/UCF101/UCF101.rar
!wget -q --no-check-certificate https://www.crcv.ucf.edu/data/UCF101/UCF101TrainTestSplits-RecognitionTask.zip

In [ ]:
%%capture
!unrar e UCF101.rar data/
!unzip -qq UCF101TrainTestSplits-RecognitionTask.zip

## Imports

In [ ]:
from imutils import paths
from tqdm import tqdm
import pandas as pd
import numpy as np
import shutil
import cv2
import os

## Metadata Loading

In [ ]:
# Open the .txt file which have names of training videos
f = open("ucfTrainTestlist/trainlist01.txt", "r")
temp = f.read()
videos = temp.split('\n')

# Create a dataframe having video names
train = pd.DataFrame()
train['video_name'] = videos
train = train[:-1]
train.head()

                                      video_name
0  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c01.avi 1
1  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c02.avi 1
2  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c03.avi 1
3  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c04.avi 1
4  ApplyEyeMakeup/v_ApplyEyeMakeup_g08_c05.avi 1

In [ ]:
# Open the .txt file which have names of test videos
with open("ucfTrainTestlist/testlist01.txt", "r") as f:
    temp = f.read()
videos = temp.split("\n")

# Create a dataframe having video names
test = pd.DataFrame()
test["video_name"] = videos
test = test[:-1]
test.head()

                                    video_name
0  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c01.avi
1  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c02.avi
2  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c03.avi
3  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c04.avi
4  ApplyEyeMakeup/v_ApplyEyeMakeup_g01_c05.avi

## Utility Functions

In [ ]:
def extract_tag(video_path):
    return video_path.split("/")[0]

def separate_video_name(video_name):
    return video_name.split("/")[1]

def rectify_video_name(video_name):
    return video_name.split(" ")[0]

def move_videos(df, output_dir):
    if not os.path.exists(output_dir):
        os.mkdir(output_dir)
    for i in tqdm(range(df.shape[0])):
        videoFile = df['video_name'][i].split("/")[-1]
        videoPath = os.path.join("data", videoFile)
        shutil.copy2(videoPath, output_dir)
    print()
    print(f"Total videos: {len(os.listdir(output_dir))}")

## DataFrame Preparation

In [ ]:
train["tag"] = train["video_name"].apply(extract_tag)
train["video_name"] = train["video_name"].apply(separate_video_name)
train.head()

                       video_name             tag
0  v_ApplyEyeMakeup_g08_c01.avi 1  ApplyEyeMakeup
1  v_ApplyEyeMakeup_g08_c02.avi 1  ApplyEyeMakeup
2  v_ApplyEyeMakeup_g08_c03.avi 1  ApplyEyeMakeup
3  v_ApplyEyeMakeup_g08_c04.avi 1  ApplyEyeMakeup
4  v_ApplyEyeMakeup_g08_c05.avi 1  ApplyEyeMakeup

In [ ]:
train["video_name"] = train["video_name"].apply(rectify_video_name)
train.head()

                     video_name             tag
0  v_ApplyEyeMakeup_g08_c01.avi  ApplyEyeMakeup
1  v_ApplyEyeMakeup_g08_c02.avi  ApplyEyeMakeup
2  v_ApplyEyeMakeup_g08_c03.avi  ApplyEyeMakeup
3  v_ApplyEyeMakeup_g08_c04.avi  ApplyEyeMakeup
4  v_ApplyEyeMakeup_g08_c05.avi  ApplyEyeMakeup

In [ ]:
test["tag"] = test["video_name"].apply(extract_tag)
test["video_name"] = test["video_name"].apply(separate_video_name)
test.head()

                     video_name             tag
0  v_ApplyEyeMakeup_g01_c01.avi  ApplyEyeMakeup
1  v_ApplyEyeMakeup_g01_c02.avi  ApplyEyeMakeup
2  v_ApplyEyeMakeup_g01_c03.avi  ApplyEyeMakeup
3  v_ApplyEyeMakeup_g01_c04.avi  ApplyEyeMakeup
4  v_ApplyEyeMakeup_g01_c05.avi  ApplyEyeMakeup

## Filtering Top-n Actions

In [ ]:
n = 10
topNActs = train["tag"].value_counts().nlargest(n).reset_index()["index"].tolist()
train_new = train[train["tag"].isin(topNActs)]
test_new = test[test["tag"].isin(topNActs)]
train_new.shape, test_new.shape

((1171, 2), (459, 2))

In [ ]:
train_new = train_new.reset_index(drop=True)
test_new = test_new.reset_index(drop=True)

## Move Top-n Action Videos

In [ ]:
move_videos(train_new, "train")
move_videos(test_new, "test")

100%|██████████| 1171/1171 [00:09<00:00, 127.50it/s]
  3%|▎         | 14/459 [00:00<00:03, 137.80it/s]

Total videos: 1171

100%|██████████| 459/459 [00:03<00:00, 143.96it/s]

Total videos: 459

In [ ]:
train_new.to_csv("train.csv", index=False)
test_new.to_csv("test.csv", index=False)

## Serialization

In [ ]:
!tar cf ucf101_top10.tar.gz train test train.csv test.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp ucf101_top10.tar.gz /content/drive/MyDrive